<div class="card page-card">
  <div class="card-body">
    <div class="row">
      <div class="col-12 col-lg-6">
        <div class="card bg-dark mt-3 h-100">
          <div class="card-body">
            <h4 class="text-center text-info mt-1 mb-3">Statistics</h4>
            @if (statistics) {
            <dl class="data-pane">
              <div class="data-row cols-kv">
                <dt>Total workouts done</dt>
                <dd>{{ statistics.totalWorkouts }}</dd>
              </div>
              <div class="data-row cols-kv">
                <dt>Total exercises done</dt>
                <dd>{{ statistics.totalExercises }}</dd>
              </div>
              <div class="data-row cols-kv">
                <dt>Total sets done</dt>
                <dd>{{ statistics.totalSets }}</dd>
              </div>
              <div class="data-row cols-kv">
                <dt>Avg. workouts per week</dt>
                <dd>{{ statistics.avgWorkoutsPerWeek }}</dd>
              </div>
              <div class="data-row cols-kv">
                <dt>Avg. exercises per workout</dt>
                <dd>{{ statistics.avgExercisesPerWorkout }}</dd>
              </div>
              <div class="data-row cols-kv">
                <dt>Avg. sets per workout</dt>
                <dd>{{ statistics.avgSetsPerWorkout }}</dd>
              </div>
              <div class="data-row cols-kv">
                <dt>Favourite exercise</dt>
                <dd>{{ statistics.favouriteExercise }}</dd>
              </div>
            </dl>
            }
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6">
        <div class="card bg-dark mt-3 h-100">
          <div class="card-body text-center">
            <h4 class="text-info mt-1 mb-3">One Rep Max calculator</h4>
            <div class="calculator-field">
              <label class="text-white" for="calculatorWeight">Select lift (kg)</label>
              <input
                id="calculatorWeight"
                class="form-control"
                type="number"
                min="0"
                name="weight"
                [(ngModel)]="calculatorWeight"
                placeholder="0"
              />
            </div>
            <div class="calculator-field">
              <label class="text-white" for="calculatorReps">Select reps</label>
              <input
                id="calculatorReps"
                class="form-control"
                type="number"
                min="0"
                name="reps"
                [(ngModel)]="calculatorReps"
                placeholder="0"
              />
            </div>
            <button class="btn btn-success btn-sm mt-2" type="button" (click)="calculate()">Calculate</button>
          </div>
          <div class="card bg-dark mt-3">
            <div class="card-body">
              <h4 class="text-center text-info mt-1 mb-3">Your current one rep max is: {{ calculatorResult }} kg</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
