<div class="card page-card">
  <div class="card-body">
    <div class="row">
      <div class="col-12">
        <h4 class="text-center text-info mt-1">Search for users</h4>
      </div>
      @for (user of users; track user) {
      <div class="col-6 col-sm-4 col-md-3 col-lg-2">
        <app-user-card [user]="user"></app-user-card>
      </div>
      }
    </div>
    @if (pagination) {
    <div class="d-flex justify-content-center">
      <pagination
        [boundaryLinks]="true"
        [totalItems]="pagination.totalItems"
        [itemsPerPage]="pagination.itemsPerPage"
        [maxSize]="5"
        [(ngModel)]="pageNumber"
        (pageChanged)="pageChanged($event)"
      ></pagination>
    </div>
    }
  </div>
</div>
