<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
    <div class="modal-header text-center">
        <h2 class="text-white w-100">Register</h2>
        <button type="button" class="btn-close" aria-label="Close" (click)="bsModalRef.hide()"></button>
    </div>
    <div class="modal-body">
            <input type="text" class="form-control mb-2" name="username" [(ngModel)]="model.userName" placeholder="Username">
            <input type="password" class="form-control mb-2" name="password" [(ngModel)]="model.password" placeholder="Password">
    </div>
    <div class="modal-footer text-center">
        <button class="btn btn-success me-2" type="submit">Register</button>
        <button class="btn btn-secondary me-2" type="button" (click)="bsModalRef.hide()">Cancel</button>
    </div>
</form>
