<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-primary">
  <img src="./assets/photos/logo.png" class="image1" alt="BeStrong">
    <div class="container">
        <ul class="navbar-nav mr-auto">
          <ng-container *ngIf="accountService.currentUser$ | async">
            <li class="nav-item">
              <a class="nav-link bi bi-house-fill" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link bi bi-activity" routerLink="/posts" routerLinkActive="active"> Activity</a>
            </li>
            <li class="nav-item">
              <a class="nav-link bi bi-envelope" routerLink="/messages" routerLinkActive="active"> Messages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link bi bi-calendar2-check-fill" routerLink="/workout-plan" routerLinkActive="active"> Workout Plan</a>
            </li>
            <li class="nav-item">
              <a class="nav-link bi-clipboard-data" routerLink="/statistics" routerLinkActive="active"> Statistics</a>
            </li>
            <li class="nav-item">
              <a class="nav-link bi-lightning" routerLink="/workout" routerLinkActive="active"> Workout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link bi bi-search" routerLink="/search" routerLinkActive="active"> Search</a>
            </li>
          </ng-container>
        </ul>

      <div *ngIf="(accountService.currentUser$ | async) as user">
        <div class="navbar-nav">
          <h5 class="text-white mt-3 mr-2">{{user.username | titlecase}}</h5>
          <li class="nav-item">
            <a class="nav-link bi-person-square" routerLink="/profile/{{user.username}}" routerLinkActive="active"> Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link bi-box-arrow-right" routerLink="/" (click)="logout()"> Logout</a>
          </li>
        </div>
      </div>

        <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm"
        class="form-inline mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off">
          <input
            name="username"
            [(ngModel)]="model.userName"
            class="form-control mr-sm-2"
            type="text" placeholder="Username"
            aria-label="Search">
          <input
            name="password"
            [(ngModel)]="model.password"
            class="form-control mr-sm-2"
            type="password" placeholder="Password"
            aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
        </form>
      </div>
  </nav>
