<nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-primary">
  <img src="./assets/photos/logo.png" class="brand-logo" alt="BeStrong">
  <button type="button" class="navbar-toggler" (click)="toggleNav()" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="container-fluid navbar-collapse" [collapse]="isNavCollapsed" [isAnimated]="false">
    <ul class="navbar-nav me-auto">
      <ng-container *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link bi bi-house-fill" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"> Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bi bi-activity" routerLink="/posts" routerLinkActive="active"> Activity</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bi bi-envelope" routerLink="/messages" routerLinkActive="active"> Messages</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bi bi-calendar2-check-fill" routerLink="/workout-plan" routerLinkActive="active"> Workout Plan</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bi-clipboard-data" routerLink="/statistics" routerLinkActive="active"> Statistics</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bi-lightning" routerLink="/workout" routerLinkActive="active"> Workout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bi bi-search" routerLink="/search" routerLinkActive="active"> Search</a>
        </li>
      </ng-container>
    </ul>

    <div class="user-info" *ngIf="(accountService.currentUser$ | async) as user">
      <h5 class="text-white mt-3 me-2">{{user.username | titlecase}}</h5>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link bi-person-square" routerLink="/profile/{{user.username}}" routerLinkActive="active"> Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bi-box-arrow-right" routerLink="/" (click)="logout()"> Logout</a>
        </li>
      </ul>
    </div>

    <form *ngIf="(accountService.currentUser$ | async) === null" #loginForm="ngForm"
      class="login-form mt-2 mt-md-0" (ngSubmit)="login()" autocomplete="off">
      <input
        name="username"
        [(ngModel)]="model.userName"
        class="form-control"
        type="text" placeholder="Username"
        aria-label="Username">
      <input
        name="password"
        [(ngModel)]="model.password"
        class="form-control"
        type="password" placeholder="Password"
        aria-label="Password">
      <button class="btn btn-outline-success" type="submit">Login</button>
    </form>
  </div>
</nav>
